<ion-content>
  <div class="section-bg">
    <img class="w-100" src="../../../../assets/images/dayneed_image_BG.svg">
    <div class="overlay_img">
      <img src="../../../../assets/images/dayneed_image.svg">
    </div>
  </div>
  <div>
    <div class="user-select-wrap">
      <img class="" src="../../../../assets/images/Buyer.gif">
      <span (click)="selectEvent('customer')">Buyer</span>
    </div>
    <div class="user-select-wrap">
      <img class="" src="../../../../assets/images/Seller.gif">
      <span (click)="selectEvent('vendor')">Seller</span>
    </div>
  </div>
</ion-content>