<ion-content>
  <ion-row style="margin-bottom: 20px;" justify-content-end>
    <ion-col size=4>
      <img (click)="backHome()" class="arrow-left" src="../../../assets/images/sidebar-icons/arrow-left.svg" />
    </ion-col>
    <ion-col size=8 class="titleContainer">
      <span class="titleWrapper">My Orders</span>
    </ion-col>
  </ion-row>

  <div *ngFor="let orderList of orderLists;let i=index" class="section-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col size="6" style="padding: 0;">
            <div class="ordered-date">{{orderList?.orderPlacedDate | date}}</div>
          </ion-col>
          <ion-col size="6" style="padding: 0;">
            <!-- <div class="waiting-accept">Waiting for Acceptance</div>
            <div style="text-align: end;margin-top: 12px;"><span class="cancel-order">Cancel Order</span></div> -->
            <div *ngIf="orderList?.orderStatus == 'ordered'" style="text-align: end;margin-top: 3px;">
              <span class="order-accepted">Ordered</span>
            </div>
            <div *ngIf="orderList?.orderStatus !== 'ordered'" style="text-align: end;margin-top: 3px;">
              <span class="order-accepted">Order Accepted</span>
            </div>
          </ion-col>
        </ion-row>
        <div class="vendor-name">{{orderList?.vendorName}}</div>
        <ion-row style="justify-content: space-between;">
          <div class="ordered-amount">Rs {{orderList?.grandTotalPrice}}</div>
          <div class="ordered-time">{{orderList?.expectedDeliveryDate | date}}</div>
          <div *ngIf="orderList?.paymentStatus !=='Paid'" class="ordered-type"><img
              src="../../assets/images/cod-close.svg">
            <span class="cod-txt">COD</span>
          </div>
          <div *ngIf="orderList?.paymentStatus =='Paid'" class="ordered-type"><img
              src="../../assets/images/order-delivered-tick.svg">
            <span class="paid-txt">Paid</span>
          </div>
        </ion-row>
      </ion-card-header>
    </ion-card>
    <div (click)="orderList.showDetails = !orderList.showDetails" class="order-detail-section">Ordered Items
      <span>
        <img style="vertical-align: middle;" *ngIf="!orderList?.showDetails" src="../../../assets/images/down-arrow.svg">
        <img style="vertical-align: middle;" *ngIf="orderList?.showDetails" src="../../../assets/images/invertdropdown.svg">
      </span>
    </div>
    <div *ngIf="orderList?.showDetails">
      <ion-row *ngFor="let item of orderList.orderedItems" class="itemWrap">
        <ion-col size=4>
          {{item?.itemName}}
        </ion-col>
        <ion-col size=3>
          {{item?.selectedQuantity}}{{item?.selectedUnit}}
        </ion-col>
        <ion-col size=2>
          {{item?.noOfquantity}}
        </ion-col>
        <ion-col size=3>
          {{item?.totalPrice}}
        </ion-col>
       <ion-col size=12 class="ion-no-padding ion-no-margin">
         <img class="vborder" src='../../../assets/images/vborderLine.svg'></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=12>
          <img style="vertical-align: middle;float: right;" size=6 src="../../../assets/images/reorderbtn.png">
        </ion-col>
      </ion-row>
    </div>
  </div>



</ion-content>