<ion-content>
  <ion-row style="margin-bottom: 20px;" justify-content-end>
    <ion-col size=4>
      <img (click)="backHome()" class="arrow-left" src="../../../assets/images/sidebar-icons/arrow-left.svg" />
    </ion-col>
    <ion-col size=8 class="titleContainer">
      <span class="titleWrapper">My Orders</span>
    </ion-col>
  </ion-row>

  <div class="section-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col size="6" style="padding: 0;">
            <div class="ordered-date">Fri 02 Mar 2021</div>
            <div class="vendor-name">RK Vegetables</div>
          </ion-col>
          <ion-col size="6" style="padding: 0;">
            <div class="waiting-accept">Waiting for Acceptance</div>
            <div style="text-align: end;margin-top: 12px;"><span class="cancel-order">Cancel Order</span></div>
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: space-between;">
          <div class="ordered-amount">Rs.650.00</div>
          <div class="ordered-time">Today,4.00pm</div>
          <div class="ordered-type"><img src="../../assets/images/cod-close.svg"><span class="cod-txt">COD</span></div>
        </ion-row>
      </ion-card-header>
    </ion-card>
    <div (click)="showDetails = !showDetails" class="order-detail-section">Ordered Items
      <span>
        <img style="vertical-align: middle;" src="../../assets/images/down-arrow.svg">
      </span>
    </div>
    <div *ngIf="showDetails">
      <!-- In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form
      of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before
      final copy is available. Wikipedia -->
    </div>
  </div>


  <div class="section-wrapper" *ngFor="let order of orderedItems; let i=index;">
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col size="6" style="padding: 0;">
            <div class="ordered-date">{{orderedItems?.expectedDeliveryDate | date: 'dd/MM/YY' }}</div>
            <div class="vendor-name">{{orderedItems?.expectedDeliveryDate}}</div>
          </ion-col>
          <ion-col size="6" style="padding: 0;">
            <!-- <div class="waiting-accept">Waiting for Acceptance</div>
            <div style="text-align: end;margin-top: 12px;"><span class="cancel-order">Cancel Order</span></div> -->
            <div style="text-align: end;margin-top: 8px;"><span class="order-accepted">{{orderedItems?.orderStatus}}</span></div>
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: space-between;">
          <div class="ordered-amount"><span *ngIf="orderedItems?.currency == 'INR'"></span>&#x20B9;{{orderedItems?.grandTotalPrice}}</div>
          <div class="ordered-time">Today,4.00pm</div>
          <div class="ordered-type"><img src="../../assets/images/cod-close.svg"><span class="cod-txt">COD</span></div>
        </ion-row>
      </ion-card-header>
    </ion-card>
    <div (click)="showDetails = !showDetails" class="order-detail-section">Ordered Items
      <span>
        <img style="vertical-align: middle;" *ngIf="!showDetails" src="../../../assets/images/down-arrow.svg">
        <img style="vertical-align: middle;" *ngIf="showDetails" src="../../../assets/images/invertdropdown.svg">
      </span>
    </div>
    <div *ngIf="showDetails">
      <ion-row *ngFor="let items of orderedItems" class="itemWrap">
        <ion-col size=4>
          {{items?.name}}
        </ion-col>
        <ion-col size=3>
          {{items?.qty}}
        </ion-col>
        <ion-col size=2>
          {{items?.qtyno}}
        </ion-col>
        <ion-col size=3>
          {{items?.price}}
        </ion-col>
        <p size=12>
        </p>
      </ion-row>
      <div class="text-right"> <img style="vertical-align: middle;" src="../../../assets/images/tabreorder.svg"></div>
    </div>
  </div>


  <div class="section-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col size="6" style="padding: 0;">
            <div class="ordered-date">Fri 02 Mar 2021</div>
            <div class="vendor-name">RK Vegetables</div>
          </ion-col>
          <ion-col size="6" style="padding: 0;">
            <!-- <div class="waiting-accept">Waiting for Acceptance</div>
            <div style="text-align: end;margin-top: 12px;"><span class="cancel-order">Cancel Order</span></div> -->
            <!-- <div style="text-align: end;margin-top: 8px;"><span class="order-accepted">Order Accepted</span></div> -->
            <div style="text-align: end;margin-top: 8px;"><span class="order-delivered">Delivered</span></div>
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: space-between;">
          <div class="ordered-amount">Rs.650.00</div>
          <div class="ordered-time">Today,4.00pm</div>
          <div class="ordered-type"><img src="../../assets/images/order-delivered-tick.svg"><span class="paid-txt">Paid</span></div>
        </ion-row>
      </ion-card-header>
    </ion-card>
    <div (click)="showDetails = !showDetails" class="order-detail-section">Ordered Items
      <span>
        <img style="vertical-align: middle;" src="../../assets/images/down-arrow.svg">
      </span>
    </div>
    <div *ngIf="showDetails">
      <!-- In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form
      of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before
      final copy is available. Wikipedia -->

    </div>
  </div>



</ion-content>