ion-content{
    --background: #F7F9FB !important;
}
.arrow-left{
    margin: 30px 0px 0px 18px ;
}
.titleContainer{
    margin-top: 30px;
}
.titleWrapper{
    color:rgba(42, 55, 87, 0.8) !important;
    font: 600 1rem 'poppinsSemiBold' ;
}
.section-wrapper{
    min-height: 116px;
    background: #E7EBF0;
    border-radius: 0px 0px 10px 10px;
    margin: 0 32px;
    margin-bottom: 23px;
    filter: drop-shadow(0px 7px 0px rgba(255, 112, 67, 0.2));
}
ion-card{
    margin: 0;
    box-shadow: none;
}
ion-card-header{
    padding: 10px 20px;
}
.ordered-date{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #818183;
    margin-bottom: 8px;
    
}
.waiting-accept{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: end;
    color: #2A3757;
    margin-top: 4px;
}
.cancel-order{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: rgba(42, 55, 87, 0.8);
    background: rgba(255, 138, 101, 0.2);
    border-radius: 6px;
    padding: 4px 7px;
}
.order-accepted{
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(191, 113, 15, 0.2), 0px 2px 4px rgba(191, 113, 15, 0.2);
    border-radius: 12px;
    font-family: IBM Plex Sans;
    font-size: 12px;
    align-items: center;
    letter-spacing: 0.0168em;
    color: #CB0354;
    padding: 8px 15px;
}
.order-delivered{
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(191, 113, 15, 0.2), 0px 2px 4px rgba(191, 113, 15, 0.2);
    border-radius: 12px;
    font-family: IBM Plex Sans;
    font-size: 12px;
    align-items: center;
    letter-spacing: 0.0168em;
    color: #2AB930;
    padding: 8px 15px;
}

.vendor-name{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #2A3757;   
    margin-bottom: 8px;
}
.ordered-amount{
    font-family: 'poppinsSemiBold';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #FF7043;
}
.ordered-time{
    background: #FEE99A;
    border: 0.5px solid #FEE99A;
    box-sizing: border-box;
    border-radius: 4px;
    font-family:  'poppinsReg';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 19px;
    text-align: center;
    color: #2A3757;
    padding: 0 13px;
}
.ordered-type{
    img{
        vertical-align: middle;
    }
    .cod-txt{
        font-family: 'poppinsSemiBold';
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #FF7043;
        margin-left: 10px;
        padding-top: 1px;
    }
    .paid-txt{
        font-family: 'poppinsSemiBold';
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #2AB930;
        margin-left: 10px;
        padding-top: 1px;
    }

}
.order-detail-section{
    text-align: center;
    color: #2A3757;
    padding: 10px 0px;
    font: 500 12px 'poppinsMedium';
    margin-bottom: 1rem;
}
.itemWrap{
    margin-left: 1rem;
    font: 500 10.95px 'poppinsMedium';
    p{
        border: 0.84953px solid rgba(0, 0, 0, 0.1);
        margin: 0px;
    }
}