ion-content{
    --background: #F7F9FB;
}

ion-input {
    // background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
// background-blend-mode: soft-light, normal;
// border: 1px solid rgba(255, 255, 255, 0.4);
// box-sizing: border-box;
// box-shadow: inset -2.5px -2.5px 5px #FAFBFF, inset 2.5px 2.5px 5px #A6ABBD;
// border-radius: 10px;
font: 500 16px 'poppinsMedium';
--placeholder-color: #2A3757;
--placeholder-opacity: 1;
}

.vendor-txt-trim{
    font:  16px 'poppinsSemiBold';
    color:rgba(42, 55, 87, 0.8);
    text-transform: capitalize;
}

ion-searchbar{
    font:  400 1rem 'poppinsMedium';
}

.customerRegWrap{
   margin: 10px 23px 0px 13px;
   background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), 
#E7EBF0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: inset -2.5px -2.5px 5px #FAFBFF, inset 2.5px 2.5px 5px #A6ABBD;
  border-radius: 10px;
}
 
.registerBtn, .registerBtnSave{
    background: #FF7043 !important;
    border-radius: 20px 0px !important;
    height: 3.12rem;
    width: 11.9rem;
    margin-top: 16px;
 }

 .registerBtnSave{
     width:6.9rem;
 }

 ion-button::part(native) {
    background: transparent;
    font: 1.3rem 'poppinsSemiBold';
    text-transform: initial;
    border-radius: 20px 0px;
 }
  
 .text-center{
    text-align: center;
 }

 ion-radio-group{
     display: flex;
 }

 ion-radio {
     margin-right: 3px;
 }

 
ion-radio::part(container){
    border-color: #ff7043;
 --color-checked: #ff7043;
}

.defaultLabel {
    margin-left: 1.3rem;
    span{
        vertical-align: top;
        margin-left: 1rem;
        font: 100 12px 'poppinsReg';
    }
}

ion-checkbox{
    --background-checked: #ff7043;
    --border-color-checked: #ff7043;
    --border-color: #ff7043;
}

ion-searchbar {
    --background: #E7EBF0;
    --box-shadow: none;
}