<ion-content>
  <div style="margin:0 15px;">
    <ion-row style="margin: 30px 0 0 0;box-shadow: none;">
      <ion-col style="margin:auto" size="2">
        <img (click)="closeModal()" src="../../assets/images/sidebar-icons/arrow-left.svg">
      </ion-col>
      <ion-col style="margin:auto" size="10" class="ion-no-padding">
        <div class="vendor-name">
          <span class="vendor-txt-trim">{{mode}} Address</span>
        </div>
      </ion-col>
    </ion-row>
    <form [formGroup]="addressForm" novalidate>
      <ion-row justify-content-center>
        <ion-col size=11 class="customerRegWrap">
          <ion-input class="m-lt-15" placeholder="Your Name" formControlName="userName" required></ion-input>
        </ion-col>
        <ion-col size=11 class="customerRegWrap">
          <!-- <ion-input class="m-lt-15" placeholder="Apartment Name" formControlName="apartmentName" required> -->
          <!-- </ion-input> -->
          <!-- <ion-col size=11 class="customerRegWrap ion-margin-bottom" style="margin-right: 0px;"> -->
          <ion-searchbar (ionFocus)="navigateToApartmentList()" placeholder="Apartment Name" class="ion-no-padding"
            formControlName=apartmentName>
          </ion-searchbar>
          <!-- </ion-col> -->
        </ion-col>
        <ion-col size=11 class="customerRegWrap">
          <ion-searchbar (ionFocus)="navigateToApartmentBlockList()" placeholder="Block No" class="ion-no-padding"
            formControlName=blockNo>
          </ion-searchbar>
          <!-- <ion-input class="m-lt-15" placeholder="Block No" formControlName="blockNo" required></ion-input> -->
        </ion-col>
        <ion-col size=11 class="customerRegWrap">
          <ion-searchbar (ionFocus)="navigateToApartmentFloorList()" placeholder="Floor No" class="ion-no-padding"
            formControlName=floorNo>
          </ion-searchbar>
          <!-- <ion-input class="m-lt-15" placeholder="Block No" formControlName="blockNo" 
      required></ion-input> -->
        </ion-col>
        <ion-col size=11 class="customerRegWrap">
          <ion-input class="m-lt-15" placeholder="House No" formControlName="houseNo" required></ion-input>
        </ion-col>
        <ion-col size=11 class="customerRegWrap">
          <ion-input class="m-lt-15" placeholder="Address" formControlName="address" required></ion-input>
        </ion-col>
        <ion-col size=11 class="customerRegWrap">
          <ion-input class="m-lt-15" placeholder="Landmark" formControlName="landmark" required></ion-input>
        </ion-col>
        <ion-col size=11 class="customerRegWrap">
          <ion-input class="m-lt-15" placeholder="99999 99999" type=tel maxlength=10 formControlName="mblNo" required>
            <ion-label>+91 - </ion-label>
          </ion-input>
        </ion-col>
        <ion-list>
          <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)" [(ngModel)]="selectedAddressType"
            #radioGroup [ngModelOptions]="{standalone: true}">
            <ion-item lines="none" *ngFor="let item of radio_list" (ionFocus)="radioFocus()"
              (ionSelect)="radioSelect($event)" (ionBlur)="radioBlur()">
              <ion-label>{{item.name}}</ion-label>
              <ion-radio slot="start" name="{{item.name}}" value="{{item.value}}">
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-row>
    </form>
    <div class="defaultLabel">
      <ion-checkbox slot="end" [value]="checked" [checked]="isDefault" (ionChange)="onSelectionChange($event)">
      </ion-checkbox><span>Save As Default Address</span>
    </div>
    <div class="text-center">
      <ion-button class="registerBtn" [hidden]="mode == 'edit'" part="native" (click)="submitRegForm()"
        [disabled]="addressForm.invalid" justify-content-center>Add Address</ion-button>
      <ion-button class="registerBtnSave" [hidden]="mode == 'add'" part="native" (click)="submitRegForm()"
        [disabled]="addressForm.invalid" justify-content-center>Save</ion-button>
    </div>
  </div>
</ion-content>