ion-spinner {
    border: 1px solid #ccc;
    box-shadow: 2px 2px #ccc;
}
ion-input {
    border: 1px solid #ccc;
}

ion-row{
    margin:2rem 2rem 0 2rem;
}

.section-bg{
    position: relative;
}

.overlay_img{
    position: absolute;
    top: 0;
    margin: 20%;
    // width: 100%;
}
.m-10{
    margin: 10%;
}
.m-bt-10{
    margin-bottom: 10%;
}
.m-lt-15{
    margin-left: 15px;
}


ion-item{
    --ion-background-color:#E7EBF0;
 }
 .input-box{
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #2A3757;
 }