<ion-content>
  <div style="margin-top: 12rem;">
    <div class="successWrap" *ngIf="this.data=='success'">
      <img src="../../../../assets/images/Icontick.svg" />
    </div>
  </div>
  <ion-row>
    <ion-col size="12" class="ion-justify-content-center text-center" *ngIf="this.data=='success'">
      <span class="titleWrap">Congratulations!!!</span>
      <p class="contentWrap">Your order have been Placed Successfully</p>
    </ion-col>
    <ion-col size="12" class="ion-justify-content-center text-center" *ngIf="this.data=='error'">
      <span class="titleWrap">Oops!</span>
      <p class="contentWrap">Unable to process your request.</p>
      <span class="contentWrap">Please try again...</span>
    </ion-col>
    <ion-col *ngIf="this.data=='replace'" class="ion-justify-content-center replacecart">
      <span class="titleWrap">Replace Cart Item?</span>
      <p class="contentWrap">Your Basket contains items from RK vegtables. Do you want to discard the selection and add
        new delivery Location? </p>
      <p>
        <span>No</span>
        <span>Yes</span>
      </p>
    </ion-col>

    <img src="../../../../assets/images/continueShopping.svg" (click)="backToCart()" *ngIf="this.data=='success'" style="margin-left: 4rem;"/>
    <img src="../../../../assets/images/backToCart.svg" *ngIf="this.data=='error'" (click)="backToCart()" style="margin-left: 4rem;"/>
  </ion-row>
</ion-content>