<ion-tabs class="no-lines">
  <ion-tab-bar slot="bottom"  *ngIf="!this.tabservice.cartScreen">
    <ion-tab-button tab="home" (click)="otherTabClicked()">
      <ion-icon style="font-size: 28px;" src="../../assets/images/home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="vendor-list" (click)="otherTabClicked()">
      <ion-icon src="../../assets/images/category.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="mycart" (click)="cartListClicked()">
      <ion-icon src="../../assets/images/mylist.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="myorder" (click)="otherTabClicked()">
      <ion-icon src="../../assets/images/myorder.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

   <ion-row style="position: fixed; bottom: 0;width: 100%;" size=12 *ngIf="this.tabservice.cartScreen"> 
    <ion-col size=8 class="totalamountWrap">
      <span>Rs.120</span>
    </ion-col>
    <ion-col size=5 class="ion-text-end checkoutWrap">
      <span (click)="checkoutEvent()">Checkout</span>
    </ion-col>
  </ion-row> 
