ion-content{
    --background: #F7F9FB !important;
}

ion-card{
    padding: 10px;
    margin: 10px 30px;
    border-radius: 15px;
}
 
.arrow-left{
    margin: 30px 0px 0px 18px ;
}

.titleWrapper, .shopName{
    color:rgba(42, 55, 87, 0.8) !important;
    font: 600 1rem 'poppinsSemiBold' ;
}

.titleContainer{
    margin-top: 30px;
}
ion-content {

}

.ordersWrap{
    font: 100 1rem 'poppinsSemiBold';
    color: rgba(42, 55, 87, 0.8);
    margin: 1.8rem auto;
    text-align: center;
}

.apartmentWrap {
    background-color: #2A3757;
    margin: 1.5rem;
    // position: absolute;
    // width: 296px;
    height: 32px;
    // left: 32px;
    // top: 90px;
    border-radius: 10px;
}

.aptname {
    font: 100 0.875rem 'poppinsMedium';
    color: #fff;
}

.aptdeliver {
    font: 100 0.75rem 'poppinsMedium';
    color: #C4C4C4;
}

ion-label{
    text-transform: capitalize;
}

.onWay{
    text-transform: inherit;
}

ion-segment {
    position: absolute;
    width: 309.88px;
    height: 41.88px;
    left: 32px;
    top: 130px;
}