<ion-content>
  <div *ngFor="let data of orderDetails">
    <div class="ordersWrap">Today's Delivery</div>

    <ion-row class="apartmentWrap">
      <ion-col size=6 class=text-center>
        <span class="aptname">{{data.apartmentName}}</span>
      </ion-col>
      <ion-col size=6 class=text-center>
        <span class="aptdeliver">{{data.deliveryTime}}</span>
      </ion-col>
    </ion-row>

    <div class="tabHeader">
      <ion-segment value="ordersplaced" color="tertiary" size=10 scrollable="true" [(ngModel)]="tabSelectedModel"
        (ionChange)="segmentChanged($event)">
        <ion-segment-button value="orderplaced">
          <ion-label>Order Placed</ion-label>
        </ion-segment-button>

        <ion-segment-button value="ontheway">
          <ion-label class="onWay">On the way</ion-label>
        </ion-segment-button>

        <ion-segment-button value="delivered">
          <ion-label class="onWay">Delivered</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <ion-grid class="ion-no-padding" *ngFor="let product of orderDetails?.prodcuts">
      <ion-row *ngIf="tabSelectedModel == 'orderplaced'" class="tabcontent">
        <ion-col size=4 class="ion-no-padding"><span>No.{{product.houseNo}}, {{prodcut.blockNo}} block</span>
        </ion-col>
        <ion-col size=6 class="ion-no-padding"><span class='pname'>{{product.prodName}}</span>
        </ion-col>
        <ion-col size=2 class="ion-no-padding"><span>{{product.qty}}</span></ion-col>
        <ion-col size=12 class="ion-text-center"> <img src='../../assets/images/vborderLine.svg' class='vborder'>
        </ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="tabSelectedModel == 'ontheway'" class="tabcontent"> -->
        <!-- <ion-col size=4 class="ion-no-padding"><span>No.8, A block</span> -->
        <!-- </ion-col> -->
        <!-- <ion-col size=6 class="ion-no-padding"><span class='pname'>Nandini Special Toned Milk</span> -->
        <!-- </ion-col> -->
        <!-- <ion-col size=2 class="ion-no-padding"><span>9586ml</span></ion-col> -->
        <!-- <!-- <ion-col size=12 class="ion-text-center"> <img src='../../assets/images/vborderLine.svg' class='vborder'> --> 
        <!-- </ion-col> -->
      <!-- </ion-row> -->
      <!-- <ion-row *ngIf="tabSelectedModel == 'delivered'" class="tabcontent"> -->
        <!-- <ion-col size=4 class="ion-no-padding"><span>No.8, A block</span> -->
        <!-- </ion-col> -->
        <!-- <ion-col size=6 class="ion-no-padding"><span class='pname'>Nandini Special Toned Milk</span> -->
        <!-- </ion-col> -->
        <!-- <ion-col size=2 class="ion-no-padding"><span>9586ml</span></ion-col> -->
        <!-- <!-- <ion-col size=12 class="ion-text-center"> <img src='../../assets/images/vborderLine.svg' class='vborder'> --> 
        <!-- </ion-col> -->
      <!-- </ion-row> -->
    </ion-grid>
  </div>
</ion-content>