<ion-content>
  <div class="ordersWrap">Today's Delivery</div>

  <ion-row class="apartmentWrap">
    <ion-col size=6 class=text-center>
      <span class="aptname">Krishvi Statura</span>
    </ion-col>
    <ion-col size=6 class=text-center>
      <span class="aptdeliver">Today 4:00 pm</span>
    </ion-col>
  </ion-row>

  <!-- <ion-row> -->
  <!-- <ion-col> -->
  <ion-segment (ionChange)="segmentChanged($event)" class="primary">
    <ion-segment-button value="ordersplaced">
      <ion-label>Orders Placed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ontheway">
      <ion-label class="onWay">On the way</ion-label>
    </ion-segment-button>
    <ion-segment-button value="delivered">
      <ion-label>Delivered</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-toolbar color="primary">
    <ion-segment value="all" color="tertiary" scrollable="true" mode="ios" [(ngModel)]="segmentModel"
      (ionChange)="segmentChanged($event)">
      <ion-segment-button value="all">
        <ion-label>Orders Placed</ion-label>
      </ion-segment-button>

      <ion-segment-button value="favorites">
        <ion-label class="onWay">On the way</ion-label>
      </ion-segment-button>

      <ion-segment-button value="settings">
        <ion-label>Delivered</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-- </ion-col> -->
  <!-- </ion-row> -->
</ion-content>