.imgAlignment {
    border-bottom-right-radius: 50%;
    background: white;
    // border: 1px solid #111;s
    height: 350px;
    border-bottom-left-radius: 50%;
}

.imgAlignment ion-col {
    margin: auto;
}


.contentWrapper , .inputWrap {
    background: #E7EBF0;
}

// .inputWrap ion-input{
//     --placeholder-color: #333;
//     --placeholder-font-size : 12px;
// }

//pappu css starts here
.section-bg{
    position: relative;
}

.overlay_img{
    position: absolute;
    top: 0;
    margin: 20%;
    // width: 100%;
}
.m-10{
    margin: 10%;
}
.m-bt-10{
    margin-bottom: 10%;
}
.m-lt-15{
    margin-left: 15px;
}


ion-item{
    --ion-background-color:#E7EBF0;
 }
 
 