ion-content{
    --background:#F7F9FB !important
}

.p-rt-10{
    padding-right: 10px;
}
.addr_txt{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: rgba(42, 55, 87, 0.8);
}
.imgRes{
    width: 95%;
    border-radius: 10px;
    height: 112px;
    margin: 0 10px auto;
}

.search-cls{
    --background:rgba(207, 197, 179, 0.2) !important;
    --border-radius: 10px;
    font-family: 'poppinsReg';
    --box-shadow: none;
}
.searchbar-search-icon.sc-ion-searchbar-md{
    color: green !important;
}
.searchbar-search-icon.sc-ion-searchbar-md{
    color: rgba(42, 55, 87, 0.4);
}
ion-row{
    box-shadow: 0px 4px 8px rgba(218, 234, 246, 0.7);
    margin-bottom: 1.5em;
}
.cat-head{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 20px;
}
.cat-section{
    width: 64px;
    height: 91px;
    border-radius: 10px;
    position: relative;
}

.cat-name{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 30px;
/* identical to box height, or 300% */
    letter-spacing: 0.02em;
    color: rgba(42, 55, 87, 0.8);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.dabba-head{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #2A3757;
    margin-left: 10px;
}


.card-img{
    // position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
}
.card-img-sec{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    background: #DAEAF6;border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-content{
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    box-shadow: 0px 4px 8px rgb(218 234 246 / 70%);
}

.vendor-name{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #2A3757;
    padding-bottom: 10px;
    padding-top: 10px;
}
.vendor-cat{
    border-radius: 4px;
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 19px;
    text-align: center;
    color: rgba(42, 55, 87, 0.8);
    padding: 4px 8px;
    margin-right: 1em;
}

.vendor-time{
    float: left;
    background: #FEE99A;
    border: 0.5px solid #FEE99A;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 19px;
    text-align: center;
    color: #2A3757;
    width: 113px;
}

.vendor-rating{
    float: right;
    background: #31426F;
    border-radius: 4px;
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 19px;
    text-align: center;
    color: #DDEDEA;
    height: 18px;
    width: 34px;
    padding-left: 5px;
    margin-bottom: 15px;

}


