
<ion-content [fullscreen]="true">
  <ion-row style="margin: 15px;">
    <ion-col style="margin:auto" size="2">
      <img (click)="openSideModal()" src="../../assets/images/profile_icon.svg">
    </ion-col>
    <ion-col style="margin:auto" size="8">
      <p class="addr_txt">Garuda Park square,KR puram</p>
    </ion-col>
    <ion-col style="margin:auto" size="2">
      <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button id="cart-btn" ion-button icon-only>
            <ion-icon src="../../assets/images/bell.svg"></ion-icon>
            <ion-badge id="cart-badge">2</ion-badge>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
  </ion-row>
</ion-content>