ion-content{
    --background:#fff !important
}
ion-header{
    padding: 15px 0px 0px 20px;
}
ion-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: rgba(42, 55, 87, 0.8);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 50px;
  
}
.p-rt-10{
    padding-right: 10px;
}