<ion-content>
  <ion-row justify-content-end>
    <ion-col size=4>
      <img (click)="backHome()" class="arrow-left" src="../../../assets/images/sidebar-icons/arrow-left.svg" />
    </ion-col>
    <ion-col size=8 class="titleContainer">
      <span class="titleWrapper">My Cart</span>
    </ion-col>
  </ion-row>
  <ion-item  *ngFor="let item of dummy">
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>

  <!-- <ion-card text-center> -->
    <!-- <span class="shopName">RK Vegetables</span> -->
    <!-- <img class="chatIcon" *ngIf="stockLists[0]?.catName !== 'Upload Prescription'" src="../../assets/images/message-square.svg" />
    <img class="chatIcon" *ngIf="stockLists[0]?.catName == 'Upload Prescription'" src="../../assets/images/upload.svg" />  -->
  <!-- </ion-card> -->

  <ion-list *ngIf="cartItems.length > 0" style="margin: 10px 20px;">
    <ion-item-sliding style="margin-bottom:15px" *ngFor="let cartItem of cartItems;let i=index;">
      <ion-item-options side="start">
      </ion-item-options>
      <ion-item lines="none" class="no-padding item-list">
        <ion-col class="img-col" size="4">
          <img class="product-img" src="{{cartItem.item.productImage}}">
        </ion-col>

        <ion-col class="prod-col" size="5">
          <div style="padding: 0 15px;">
            <div class="vendor-name">{{cartItem.item.itemName}}</div>
            <div>
              <span class="vendor-cat">{{cartItem.selectedQuantity}}{{cartItem.selectedUnit}}</span>
            </div>
            <div class="vendor-amnt">&#x20B9;.{{cartItem.totalPrice}}/-</div>
          </div>
        </ion-col>

        <ion-col class="quanty-col" size="3">
          <span>
            <img src="../../assets/images/akar-icons_minus.svg" (click)="decreaseQuantity(cartItem,i)" style="background: #FFC8B6;
                padding: 3px 2px;
                border-radius: 3px;vertical-align:middle;">
          </span>
          <span style="vertical-align:middle;padding: 10px;">{{cartItem.noOfquantity}}</span>
          <span><img style="vertical-align:middle;" src="../../assets/images/plus-square.svg"
              (click)="increaseQuantity(cartItem,i)"></span>
        </ion-col>

      </ion-item>

      <!-- <ion-item class="no-padding" part='native' *ngIf="stockLists[0]?.catName == 'Dairy Products'">
        <div class="listDairyWrapper" [style.background]=stockLists[0]?.bgColor size="3.5">
          <img class="card-img" [src]=stock.image>
        </div>
        <ion-label style="margin-right: 0px;">
          <div class="vendor-name-dairy">{{stock.pName}}
          </div>
          <ion-row size=12>
            <ion-col size=5 class="catCol">
              <span class="pDetails">{{stock.DOA}}</span>
            </ion-col>
            <ion-col size=6 class="catCol">
              <span class="pDetails">{{stock.required}}</span>
            </ion-col>
          </ion-row>
          <ion-row size=12>
            <ion-col size=5 class="catCol">
              <span class="pDetails">{{stock.qty}}</span>
            </ion-col>
            <ion-col size=6 class="catCol">
              <span class="pDetails">{{stock.coupons}}</span>
            </ion-col>
          </ion-row>
          <div style="text-align: center;">
            <div class="vendor-amnt">&#x20B9;.{{stock.price}}/-</div>
          </div>
        </ion-label>
      </ion-item> -->

      <!-- <ion-item class="no-padding" *ngIf="stockLists[0]?.catName == 'JJ Carwash'">
        <div class="listCarWrapper" [style.background]=stockLists[0]?.bgColor size="3.5">
          <img class="card-img" [src]=stock.image>
        </div>
        <ion-label style="margin-right: 0px;">
          <div class="vendor-name-dairy">{{stock.pName}}
          </div>
          <ion-row size=12>
            <ion-col size=5 class="catColCar">
              <span class="pDetails">{{stock.DOA}}</span>
            </ion-col>
            <ion-col size=6 class="catColCar">
              <span class="pDetails">{{stock.required}}</span>
            </ion-col>
          </ion-row>
          <ion-row size=12>
            <ion-col size=5 class="catColCar">
              <span class="pDetails">{{stock.on}}</span>
            </ion-col>
            <ion-col size=6 class="catColCarWash">
              <span class="pDetails">{{stock.noOfWashes}} washes</span>
            </ion-col>
          </ion-row>
          <div style="text-align: center;">
            <div class="vendor-amnt">&#x20B9;.{{stock.price}}/-</div>
          </div>
        </ion-label>
      </ion-item> -->

      <!-- <ion-item class="no-padding" *ngIf="stockLists[0]?.catName == 'Upload Prescription'">
        <div class="listpharmacyWrapper" [style.background]=stockLists[0]?.bgColor size="3.5">
          <img class="card-img" [src]=stock.image>
        </div>
        <ion-label>
          <div class="vendor-name">{{stock.pName}}
          </div>
          <div class="vendor-cat">{{stock.qty}} no's</div>
          <div>
            <div style="float: left;" class="vendor-amnt">&#x20B9;.{{stock.price}}/-</div>
            <div class="add-btn"><img style="vertical-align: super;" src="../../assets/images/plus.svg">
            </div>
          </div>
        </ion-label>
        <span><img src="../../assets/images/akar-icons_minus.svg" (click)="reduceNumber()" style="background: #FFC8B6;
              padding: 3px 2px;
              border-radius: 3px;">
        </span>
        <span style="vertical-align: text-bottom;
            padding: 5px;">{{noOfProducts}}</span>
        <span><img src="../../assets/images/plus-square.svg" (click)="increaseNumber()"></span>
      </ion-item> -->

      <ion-item-options side="end">
        <ion-item-option style="background-color: rgba(42, 55, 87, 0.1);width: 50px; border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;">
          <ion-icon style="font-size: 20px;" src="../../../assets/images/cart-item-del.svg"
            (click)="presentAlertConfirm(cartItem)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div style="text-align: center;margin-top: 35%;" *ngIf="dummy.length == 0  && cartItems.length == 0">
    <img style="width: 250px;text-align: center;" src="../../../assets/images/empty-cart.png">
    <div style="font-weight: bold;color: gray;"><span>Your cart is empty :)</span></div>
  </div>
</ion-content>
<ion-footer *ngIf="cartItems?.length > 0">
  <ion-row  size=12>
    <ion-col size=8 class="totalamountWrap">
      <span>Rs.{{this.fullResponse?.grandTotalPrice}}</span>
    </ion-col>
    <ion-col size=5 class="ion-text-end checkoutWrap">
      <span (click)="checkoutEvent()">Checkout</span>
    </ion-col>
  </ion-row>
</ion-footer>