ion-content{
    --background: #F7F9FB !important;
}

ion-card{
    padding: 10px;
    margin: 10px 20px;
    border-radius: 15px;
}
 
.arrow-left{
    margin: 30px 0px 0px 18px ;
}

.titleWrapper, .shopName{
    color:rgba(42, 55, 87, 0.8) !important;
    font: 600 1rem 'poppinsSemiBold' ;
}

.titleContainer{
    margin-top: 30px;
}

.list-md{
    background: none;
}



.img-col{
    background: #DAEAF6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    height: 110px;
    .product-img{
        height: 100%;
        width: 65%;
        vertical-align: middle;
    }
}

.prod-col{
    height: 110px;
}

.quanty-col{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;

}

.vendor-name, .vendor-name-dairy{
    font: 600 14px 'poppinsMedium';
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #2A3757;
    padding-bottom: 2px;
    // padding-top: 10px;
}

.vendor-name-dairy{
    font: 600 12px 'poppinsMedium';
}
.vendor-cat{
    border-radius: 4px;
    font: 300 12px 'poppinsMedium';
    color: #30426E;
    margin-bottom: 8px;
}
.pDetails{
    font: 500 10px 'poppinsReg';
    color: #30426E;
    // background-color: #F8D4EF;
    // padding: 10px;
    border-radius: 10px;
}
.catCol{
    background-color: #F8D4EF;
    margin-right: 7px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;

}

.vendor-time{
}

.vendor-amnt {
    font: 300 14px 'poppinsMedium';
    color: #2A3757;
    padding-top: 15px;
}
.vendor-amnt-dairy{
    font: 300 12px 'poppinsMedium';
    color: #2A3757;
}
.vendor-amnt img {
    vertical-align: bottom;
}

.vendor-amnt span {
    
}
.catColCar, .catColCarWash{
   background :rgb(242, 244, 248);
   margin-right: 7px;
margin-bottom: 5px;
border-radius: 10px;
text-align: center;
}
.catColCarWash{
    background: rgba(196, 196, 196, 0.6);
}
.listWrapper, .listpharmacyWrapper{
    // background: #DDEDEA;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    height: initial;
    width: auto;
    margin-right: 10px;
}

.listpharmacyWrapper img {
    margin-top: 23px;
}

.listpharmacyWrapper {
    height: 100px;
}

.listCarWrapper img{
    width: 100%;
    height: 116px;
    right: 92px;
    top: 26px;
    position: absolute;
}

.listDairyWrapper, .listCarWrapper {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    height: 152px;
    width: 105px;
    margin-right: 10px;
}

.listDairyWrapper img {
    position: absolute;
    top: 35px;
    left: 12px;
    width: 86px;
    height: 97px;
}

ion-item::part(native) {
border: unset !important;
}

ion-item{
    height: 110px;
    --inner-padding-end: 0px;
    --padding-start:0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
.chatIcon {
    float: right;
}

.totalamountWrap {
    background:#2A3757;
    color: #fff;
    font: 20px 'poppinsSemiBold';
    text-align: center;
    position: relative;
    left: 0px;
    bottom: 0px;
    padding: 12px;
}

.totalamountWrap span {
    vertical-align: sub;
}
.checkoutWrap{
    background: #FF8A65;
    padding: 15px;
    font: 20px 'poppinsSemiBold';
    color: #fff;
    border-top-left-radius: 23px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}