<ion-content>
  <div *ngIf="this.userType == 'customer'">
    <div class="section-bg">
      <img class="w-100" src="../../../../assets/images/dayneed_image_BG.svg">
      <div class="overlay_img">
        <img src="../../../../assets/images/dayneed_image.svg">
      </div>
    </div>
    <form [formGroup]="customerRegisterForm" novalidate>
      <ion-row class="customerRegWrap" size=12 justify-content-center>
        <ion-icon src="../../../../assets/images/bi_person-fill.svg" size=4></ion-icon>
        <ion-input class="m-lt-15" placeholder="Your Name" formControlName="userName" size=6 required></ion-input>
      </ion-row>
      <ion-row class="customerRegWrap" size=12 justify-content-center>
        <ion-icon src="../../../../assets/images/fluent_mail-48-filled.svg" size=4></ion-icon>
        <ion-input class="m-lt-15" placeholder="E MAIL ID" formControlName="userMail" size=6 required type="email">
        </ion-input>
      </ion-row>
    </form>
  </div>
  <div *ngIf="this.userType == 'vendor'">
    <ion-row style="margin: 30px 0 0 10px;box-shadow: none;">
      <ion-col style="margin:auto" size="2">
        <img (click)="closeModal()" src="../../assets/images/sidebar-icons/arrow-left.svg">
      </ion-col>
      <ion-col style="margin:auto" size="10" class="ion-no-padding">
        <div class="vendor-name">
          <span class="vendor-txt-trim">Register As Vendor</span>
        </div>
      </ion-col>
    </ion-row>
    <form [formGroup]="vendorRegisterForm" novalidate>
      <ion-row class="customerRegWrap" size=12 justify-content-center>
        <ion-icon src="../../../../assets/images/shopname.svg" size=4></ion-icon>
        <ion-input class="m-lt-15" placeholder="Shop Name" formControlName="shopName" required></ion-input>
      </ion-row>
  
      <ion-row (click)="openCategoryList()" class="customerRegWrap">
        <ion-col size="2">
          <ion-icon src="../../../../assets/images/Vector.svg"></ion-icon>
        </ion-col>
        <ion-col size="8" style="margin: auto;">
          <ion-label class="catSelect" *ngIf=!selectedCat>
            What do you sell?
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-icon src="../../../../assets/images/chevron-down.svg"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="customerRegWrap" size=12 justify-content-center>
        <ion-icon src="../../../../assets/images/bi_person-fill.svg" size=4></ion-icon>
        <ion-input class="m-lt-15" placeholder="Your Name" formControlName="userName" size=6 required></ion-input>
      </ion-row>
      <ion-row class="customerRegWrap" size=12 justify-content-center>
        <ion-icon src="../../../../assets/images/flags/Indianflag.svg" size=4></ion-icon>
        <ion-input type="tel" maxlength="10" formControlName="phoneNumber" class="m-lt-15" placeholder="99999 9999"
          required>
          <ion-label>+91 - </ion-label>
        </ion-input>
      </ion-row>
      <ion-row class="customerRegWrap" size=12 justify-content-center>
        <ion-icon src="../../../../assets/images/fluent_mail-48-filled.svg" size=4></ion-icon>
        <ion-input class="m-lt-15" placeholder="E MAIL ID" formControlName="userMail" size=6 required type="email">
        </ion-input>
      </ion-row>
    </form>
  </div>
  <div class="text-center" *ngIf="userType == 'customer'">
    <ion-button class="registerBtn" part="native" (click)="submitRegForm()" [disabled]="customerRegisterForm.invalid"
      justify-content-center>Register</ion-button>
    <!-- <ion-img src="../../../../assets/images/Register btn.svg" ></ion-img> -->
  </div>
  <div class="text-center" *ngIf="userType == 'vendor'">
    <ion-button class="registerBtn" part="native" (click)="submitRegForm()" [disabled]="vendorRegisterForm.invalid"
      justify-content-center>Register</ion-button>
  </div>
</ion-content>