/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//fonts that dayNeed has
@font-face {   
    font-family: 'poppinsReg';    //This is what we are going to call
    src: url('./assets/fonts/Poppins-Regular.ttf');
  }

  @font-face {   
    font-family: 'poppinsSemiBold';    //This is what we are going to call
    src: url('./assets/fonts/Poppins-SemiBold.ttf');
  }

  @font-face {   
    font-family: 'poppinsMedium';    //This is what we are going to call
    src: url('./assets/fonts/Poppins-Medium.ttf');
  }
ion-content {
    --background: #E7EBF0;
}
.w-100{
    width: 100%;
}

#cart-btn {
    position: relative;
    // margin-right: 5px;
  }
  
  #cart-badge {
    position: absolute;
    top: 0;
    right: -4px;
    background: red;
    font-size: 0.7em;
    color: #fff;
    border-radius: 20px;
    width: 16px;
  }
  .searchbarinput {
    input{
       font-size: 12px !important;  
    }
}
.searchbar-search-icon.sc-ion-searchbar-md{
  // background-image: url("assets/images/search.svg");
  color: rgba(42, 55, 87, 0.4) !important;
}
.searchbar-search-icon.sc-ion-searchbar-ios{
  color: rgba(42, 55, 87, 0.4) !important;
}

.text-center{
  text-align: center;
}

.categoryMenuModal{
  
}

.addModalClass .modal-wrapper {
  height: 60%;
  top: 120px;
  width: 95%;
  border-radius: 1%;
  position: absolute;
  display: block;
  }

.quantity-popover, .quantity-popoveroffer {
  ion-select-popover ion-list ion-item {
    --border-width: 0;
    --inner-border-width: 0;
    --background: rgb(218, 234, 246);
    --background:white;
    --border-radius: 2px;
    font-size: 12px;
  }
  ion-select-popover ion-list ion-item ion-radio {
    --color: transparent;
    --color-checked: transparent;
  }
  
  .popover-content{
    --width: 120px !important;
    overflow: hidden !important;
    // --box-shadow: none;
  }
  ion-list{
    padding: 0;
  }
}

.quantity-popoveroffer{
  ion-select-popover ion-list ion-item {
    --background: #fff !important;
  }
  .popover-content{
    --width: 80px !important;
    overflow: hidden !important;
  }
}


