ion-content{
    --background:#F7F9FB;
}
.vendor-rating{
    background: #31426F;
    border-radius: 4px;
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 19px;
    text-align: center;
    color: #DDEDEA;
    height: 18px;
    width: 34px;
    padding-left: 5px;
    margin-left: 12px;
   
}
.vendor-name{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #2A3757;
    display: inline-flex;
    margin-top: 10px;
}
.vendor-txt-trim{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    overflow: hidden;
    display: block;
}
.card-bg{
    box-shadow: 0px 4px 8px rgb(48 66 110 / 20%);
    border-radius: 10px;
    margin-top: 1.5em;
}
.vendor-address{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 9px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
}
.week-day{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #2A3757;
    margin-bottom: 5px;
}
.week-date{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #2A3757;
}
.visiting-date{
    background: #DDEDEA;
}

.day-visiting{
    text-align: center;
}

.card-img{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    padding: 12px;
    border-radius: 20px;
}

.quantity-cls{
    width: 105px;
    height: 24px;
    background: rgb(218, 234, 246);
    padding: 16px;
    border-radius: 10px;
}
.card-content{
    // border-top-right-radius: 10px;
    // border-bottom-right-radius: 10px;
}

.alignSuper{
    vertical-align: super;
}

.alignMiddle{
    vertical-align: middle;
}

.vendor-name{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #2A3757;
    padding-bottom: 10px;
    padding-top: 10px;
}
.vendor-cat{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #000000;
  
}
.vendor-amnt{
    font-family: 'poppinsReg';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.02em;   
    color: #2A3757;
    padding-bottom: 5px;
    padding-top: 16px;
    
}
.add-btn{
    padding-top: 4px;
    background: #FF8A65;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: right;
    width: 56px;
    text-align: center;
    height: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
}


