<ion-content>
  <ion-card text-center class="hide-card">
    <img (click)="closeModal()" class="arrow-left" src="../../assets/images/sidebar-icons/arrow-left.svg" />
    <img src="../../assets/images/profile_big_img.svg" class="custom-avatar" />
    <h2 class="profile-name">Dharani Durairaj</h2>
    <p class="profile-email">nomail@gmail.com</p>
  </ion-card>
  <div  *ngFor="let menu of menus">
    <ion-item  lines="none">
      <ion-icon [ngStyle]="{'background': menu.color}" class="icon-bg" slot="start" src="../../assets/images/sidebar-icons/{{menu.icon}}" ></ion-icon>
      <ion-label class="menu-label">{{menu.name}}</ion-label>
    </ion-item>
  </div>
  <!-- <img src="../../assets/images/sidebar-icons/"> -->
</ion-content>